{% extends "base.html" %}
 {% load static %}

{% block content %}
	<div class="auth-form-container">
			<h4>User Login Form</h4>
			<form class="login-form" method="POST">
			<label>Email</label>
			<input value={email}  type="email" name="email"  id="email"/>
			<label>Password </label>
			<input value={password} type="password" name="password"  id="password"/>

			<button type="submit" >Login</button>
			</form>
			<button class="link-btn" >Don't have an account? Register</button>

			<button>Resize Image</button>
	</div>
{% endblock content %}
